/*#191308 black chocolate, #322A26 black coffee, #454B66 independence #677DB7 Glaucous #9CA3DB Maximum Blue Purple* Complete*/

:root{
    --input-font-size: 1rem;
    --nav-font-size: 1.25rem;
    --nav-height: 2.75rem;
    --search-div-height: 9rem;
    --panel-line-height: 1.7rem;
    --biggest-panel-text: 1rem;
    --panel-text-size: 0.75rem;
    --main-margin: 10%;
    --hr-height: 0.09rem;
}

body{
    margin: 0;
    padding: 0;
    background-color: #9CA3DB;
}

nav{
    background-color: #677DB7;
    height: var(--nav-height);
    text-align: center;
    width: 100%;
}

h1{
    padding: 10px;
    margin: 0;
    color: #191308;
    font-size: var(--nav-font-size);
    font-family: 'Glory', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

input[type="text"]{
    text-align: center;
    padding: 0.25rem;
    width: 70%;
    margin-top: 15%;
    font-family: 'Glory', sans-serif;
    font-size: var(--input-font-size);
    border: 2px double silver;
    border-radius: 3px;
    outline: none;
}

button{
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    margin-top: 22.5%;
    cursor: pointer;
    font-size: var(--input-font-size);
    font-family: 'Glory', sans-serif;
    font-weight: 600;
    outline: none;
}

button:hover{
    background-color: rgb(227, 243, 250);
}


::placeholder{
    font-family: 'Glory', sans-serif;
    font-size: var(--input-font-size);
}

.weather-image{
    font-size: 2rem;
    cursor: pointer;
    order: -10;
    margin-top: 0.2rem;
    line-height: none;
}

.panel-text{
    color: #9CA3DB;
    font-family: 'Glory', sans-serif;
    font-weight: 800;
    margin: 0;
    padding: 0;
    font-size: calc(var(--biggest-panel-text)*0.75);
}

#panel-text-1{
    order: -14;
    margin-top: 0.5rem;
    color: white;
    font-size: var(--biggest-panel-text);
} 

#panel-text-2{
    color: white;
    order: -13;
    font-size: var(--biggest-panel-text);
}

#panel-text-3{
    font-size: calc(var(--biggest-panel-text)*0.85);
    order: -12;
}

#panel-text-4{
    font-size: calc(var(--biggest-panel-text)*0.75);
    order: -11;
    font-style: italic;
}

#panel-text-5{
   line-height: var(--panel-line-height);
}

#panel-text-6{
    line-height: var(--panel-line-height);
}

#panel-text-7{
    line-height: var(--panel-line-height);
}

#panel-text-8{
    line-height: var(--panel-line-height);
}

#panel-text-9{
    line-height: var(--panel-line-height);
}

#panel-text-10{
    line-height: var(--panel-line-height);
}

#panel-text-11{
    line-height: var(--panel-line-height);
}

#panel-text-12{
    line-height: var(--panel-line-height);
}

.hr-line{
    width: 100%;
    order: -9;
    background-color: orange;
    height: var(--hr-height);
    border-radius: 50%;
    line-height: none;
}



/*DIVs*/

#search-city{
    border: none;
    width: 50%;
    height: var(--search-div-height);
    text-align: center;
    margin: 0 auto;
    margin-top: var(--main-margin);
    background-color: #454B66;
    font-family: 'Glory', sans-serif;
    position: relative;
}

#weather-panel{
    background-color: #454B66;
    width: 50%;
    height: calc(var(--search-div-height) * 2.5);
    margin: 0 auto;
    margin-top: var(--main-margin);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    }

footer{
    border: none;
    width: 50%;
    margin: 0 auto;
    margin-top: var(--main-margin);
    background-color: #454B66;
    margin-bottom: var(--main-margin);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Shadows Into Light', Verdana, Geneva, Tahoma, sans-serif;
}

footer > p{
    
    color: #191308;
    color: white;
    font-size: var(--biggest-panel-text);
    margin: 0;
    font-weight: 700;
}

footer:nth-child(1n){
    padding-top: 1.15rem;
}

footer:nth-child(4n){
    padding-bottom: 1.15rem;
}

footer a{
    font-size: calc(var(--biggest-panel-text) * 0.75);
    color: #9CA3DB;
}

footer a:hover{
    color: gold;
}

/*Media Queries*/

@media (min-width: 1301px){
    button{
        display: block;
        margin: 0 auto;
        margin-top: 4.8rem;
        padding: 17.5px 30px;
        margin-bottom: 4.8rem;
    }
    input[type="text"]{
        margin-top: 5.2rem;
    }
    .weather-image{
        font-size: 8rem;
        margin-top: 1.25rem;
    }
    :root{
        --input-font-size: 2.25rem;
        --nav-font-size: 2.65em;
        --nav-height: 4.50em;
        --search-div-height: 23.25rem;
        --panel-line-height: 3.85rem;
        --biggest-panel-text: 3.4rem;
        --main-margin: 10%;
        --hr-height: 0.09rem;
    }
}

@media (min-width: 901px) and (max-width: 1300px){
    button{
        display: block;
        margin: 0 auto;
        margin-top: 2.9rem;
        padding: 17.5px 30px;
        margin-bottom: 4.8rem;
    }
    input[type="text"]{
        margin-top: 3.5rem;
    }
    .weather-image{
        font-size: 4rem;
        margin-top: 1rem;
    }
    #panel-text-5{
        margin-top: 0.7rem;
    }
    :root{
        --input-font-size: 1.75rem;
        --nav-font-size: 2.5em;
        --nav-height: 4em;
        --search-div-height: 16.75rem;
        --panel-line-height: 2.85rem;
        --biggest-panel-text: 2.4rem;
        --main-margin: 10%;
        --hr-height: 0.09rem;
    }
}

@media (min-width: 651px) and (max-width: 900px){
    button{
        display: block;
        margin: 0 auto;
        margin-top: 2.25rem;
    }
    input[type="text"]{
        margin-top: 1.8rem;
    }
    :root{
        --input-font-size: 1.25rem;
        --nav-font-size: 1.65em;
        --nav-height: 3.50em;
        --search-div-height: 10.25rem;
        --panel-line-height: 1.85rem;
        --biggest-panel-text: 1.4rem;
        --main-margin: 10%;
        --hr-height: 0.09rem;
    }
}

@media (min-width: 556px) and (max-width: 650px){
    button{
        display: block;
        margin: 0 auto;
    }
}

@media (min-width: 417px) and (max-width: 650px){
    input[type="text"]{
        margin-top: 1.8rem;
    }
    button{
        margin-top: 2rem;
    }
    :root{
        --input-font-size: 1.25rem;
        --nav-font-size: 1.65em;
        --nav-height: 3.50em;
        --search-div-height: 10.25rem;
        --panel-line-height: 1.85rem;
        --biggest-panel-text: 1.4rem;
        --main-margin: 10%;
        --hr-height: 0.09rem;
    }
}

@media (max-width: 505px){
    h1{
        font-size: 2em;
    }
    nav{
        height: 3.75em;
    }
}

@media (max-width: 436px){
    h1{
        font-size: 1.75em;
    }
    nav{
        height: 3.5em;
    }
}

@media (max-width: 414px){
    :root{
        --input-font-size: 1.25rem;
        --nav-font-size: 1.65em;
        --nav-height: 3.50em;
        --search-div-height: 10.25rem;
        --panel-line-height: 1.85rem;
        --biggest-panel-text: 1.4rem;
        --main-margin: 10%;
        --hr-height: 0.09rem;
    }
    button{
        margin-top: 2.15rem;
    }
}

@media (max-width: 411px){
    :root{
        --input-font-size: 1.25rem;
        --nav-font-size: 1.65em;
        --nav-height: 3.50em;
        --search-div-height: 10.25rem;
        --panel-line-height: 1.85rem;
        --biggest-panel-text: 1.4rem;
        --main-margin: 10%;
        --hr-height: 0.09rem;
    }
    button{
        margin-top: 2rem;
    }
}

@media (max-width: 375px){
    :root{
        --input-font-size: 1rem;
        --nav-font-size: 1.5em;
        --nav-height: 3.25em;
        --search-div-height: 9rem;
        --panel-line-height: 1.7rem;
        --biggest-panel-text: 1rem;
        --main-margin: 10%;
        --hr-height: 0.09rem;
    }
    button{
        margin-top: 2rem;
    }
}

@media (max-width: 360px){
    h1{
        font-size: 1.5em;
    }
    nav{
        height: 3.25em;
    }
    :root{
        --input-font-size: 1rem;
        --nav-font-size: 1.5em;
        --nav-height: 3.25em;
        --search-div-height: 9rem;
        --panel-line-height: 1.7rem;
        --biggest-panel-text: 1rem;
        --main-margin: 10%;
        --hr-height: 0.09rem;
    }
}

@media (max-width: 320px){
    h1{
        font-size: 1.25em;
    }
    nav{
        height: 3em;
    }
    :root{
        --input-font-size: 1rem;
        --nav-font-size: 1.25rem;
        --nav-height: 2.75rem;
        --search-div-height: 9rem;
        --panel-line-height: 1.7rem;
        --biggest-panel-text: 1rem;
        --main-margin: 10%;
        --hr-height: 0.09rem;
    }
}

@media(max-width: 280px){
    h1{
        font-size: 1.25em;
    }
    nav{
        height: 3em;
    }
    :root{
        --input-font-size: 1rem;
        --nav-font-size: 1.25rem;
        --nav-height: 2.75rem;
        --search-div-height: 9rem;
        --panel-line-height: 1.7rem;
        --biggest-panel-text: 1rem;
        --main-margin: 10%;
        --hr-height: 0.09rem;
    }
}

@media (min-width: 189px) and (max-width: 260px){
    h1{
        font-size: 0.8em;
    }
    nav{
        height: 2.3em;
    }
    .weather-image{
        font-size: 1.25rem;
    }
    input[type="text"]{
        width: 60%;
    }
    :root{
        --input-font-size: 0.5rem;
        --nav-font-size: 0.5rem;
        --nav-height: 2rem;
        --search-div-height: 7rem;
        --panel-line-height: 1.35rem;
        --biggest-panel-text: 0.75rem;
        --main-margin: 12%;
        --hr-height: 0.09rem;
    }
}